header.header {
    background-color: #3c5ef5;
    padding: 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}


.sair {
    margin-left: 95%;
    color: white;
}

.sair:hover {
    color: #262626;
}